importFrom("graphics", boxplot)
exportClasses(pepArrayPP)
exportClasses(pepArray)
export(readArrays)
exportMethods(boxplot)
exportMethods(arrayAve)
exportMethods(arrayCV)
exportMethods(fg)
exportMethods(bg)
exportMethods(readAnnotation)
exportMethods(arraySecAb)