importFrom("graphics", boxplot)
export(readArrays)
exportMethods(readAnnotation)
exportMethods(fg)
exportMethods(bg)
exportMethods(boxplot)
exportMethods(arrayBGcorr)
exportMethods(betweenArrayNorm)
exportMethods(intraArrayNorm)
exportMethods(arraySummary)
exportMethods(arrayCV)
exportMethods(arraySecAb)